.sidebar{
  width:420px;
  padding:0 0 0 45px;
  box-sizing: border-box;
}
.side-content{
  width:100%;
}
.side-c-profile {
  width:100%;
  border-radius:10px;
  background:#fff;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 10%);
  padding:20px 20px 20px 20px;
  box-sizing: border-box;
  position: relative;
}
.side-c-profile .side-c-p-image{
  width:110px;
  height:110px;
  border-radius: 50%;
  background:#f5f5f5;
  float:right;
  margin:0 0 5px 15px;
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
  position: relative;
}
.side-c-profile h1{
  background: #CF0200;
  color:#fff;
  font-size:16px;
  font-weight:bold;
  font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif,"Nasu", "NasuM";
}
.side-c-profile h2{
  font-size:15px;
  font-weight:bold;
  margin:30px 0 15px 0;
}
.side-c-profile p{
  font-size:14px;
  font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif,"Nasu", "NasuM";
  line-height:160%;
}
.side-c-p-img{
  width:100%;
  height:200px;
  border:1px dashed #555;
}
.side-c-p-i-frame{
  width:100%;
  height:100%;
  background: url(../image/3871.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ribbon13 {
  display: inline-block;
  position: absolute;
  top:15px;
  left:4px;
  box-sizing: border-box;
  padding: 5px 0;
  margin: 0 0 0 -20px;
  width: calc(50% + 20px);
  color: white;
  background: #CF0200;
}
.ribbon13 h1{
  margin: 0;
  padding: 0 30px 0 15px;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  font-size: 16px;
  line-height: 25px;
}
.ribbon13:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-width: 20px 15px 17px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
.ribbon13:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #981918;
}

@media screen and (max-width: 1300px) {
  .sidebar{
    width:35%;
    padding:0 0 0 30px;
    box-sizing: border-box;
  }

}
@media screen and (max-width: 700px) {
  .sidebar{
    width:100%;
    margin:90px 0 0 0;
    padding:0 0 0 0;
    box-sizing: border-box;
  }
  .side-content{
    width:90%;
    margin:0 auto;
  }
}
